---
layout: default
---
<!-- Main -->
<article id="main">

    <header class="special container">
        <span class="icon fa-mobile"></span>
        <h2><strong>{{ page.title | escape }}</strong></h2>
        <p>{{ page.subheading }}</p>
    </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <!-- Content -->
        <div class="content">
            <section>
                <a href="#" class="image featured"><img src="/assets/images/pic04.jpg" alt=""/></a>
                {{ content }}
            </section>
        </div>

    </section>


</article>